* {
	cursor: url('../public/img/cursor.png'), default;
}

html, body {
  width: 100%;
  margin: 0;
  transition: 0.3s;
}

main {
  border-right: 3px solid #000;
  border-left: 3px solid #000;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  border: 3px solid #000;
  padding: 3px;
  margin-top: 3px;
  width: 99%;
  background-color: #C2C6CA;
}

.container {
  width: 100%;
}

.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
  /*   background-size: cover; */
  /*   background-repeat: no-repeat; */
  overflow-x: hidden;
  overflow-y: hidden;
  pointer-events: none;
}

#ball-one:active,
#ball-two:active {
  -webkit-filter: blur(120px);
  -moz-filter: blur(120px);
  -o-filter: blur(120px);
  -ms-filter: blur(120px);
  filter: blur(120px);
}

#ball-one {
  background: radial-gradient(142.65% 2282.99% at 100% -31.65%, #08A6CE 0%, #6352B1 43.75%, #8B0EB7 68.75%);
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  -webkit-filter: blur(70px);
  -moz-filter: blur(70px);
  -o-filter: blur(70px);
  -ms-filter: blur(70px);
  filter: blur(70px);
  transition: all 10s;
  animation: move1 8s infinite;
  -webkit-animation: move1 8s infinite;
  /* background-image: url('./../public/img/face.png');
  background-position: center;
  background-size: cover; */
  
}

#ball-two {
  background: radial-gradient(142.65% 2282.99% at 100% -31.65%, #08A6CE 0%, #6352B1 43.75%, #8B0EB7 68.75%);
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  right: 0;
  border-radius: 100%;
  transition: all 10s;
  -webkit-filter: blur(70px);
  -moz-filter: blur(70px);
  -o-filter: blur(70px);
  -ms-filter: blur(70px);
  filter: blur(70px);
  animation: move2 8s infinite;
  -webkit-animation: move2 8s infinite;
}

#ball-three {
  background: radial-gradient(142.65% 2282.99% at 100% -31.65%, #08A6CE 0%, #6352B1 43.75%, #8B0EB7 68.75%);
  height: 100px;
  width: 100px;
  left: 100px;
  top: 100px;
  position: absolute;
  border-radius: 100%;
  transition: all 10s;
  -webkit-filter: blur(70px);
  -moz-filter: blur(70px);
  -o-filter: blur(70px);
  -ms-filter: blur(70px);
  filter: blur(70px);
  animation: move3 8s infinite;
  -webkit-animation: move3 8s infinite;
}

@keyframes move1 {
  0% {
    transform: translate3d(0, 5vh, 0);
  }

  15% {
    transform: translate3d(5vw, 25vh, 0);
  }

  25% {
    transform: translate3d(35vw, 45vh, 0);
  }

  35% {
    transform: translate3d(80vw, 75vh, 0);
    width: 150px;
  }

  50% {
    transform: translate3d(40vw, 60vh, 0);
    width: 200px;
  }

  65% {
    transform: translate3d(20vw, 35vh, 0);
  }

  85% {
    transform: translate3d(10vw, 25%, 0);
    width: 100px;
  }

  100% {
    transform: translate3d(0, 5vh, 0);
  }
}

@keyframes move2 {
  0% {
    transform: translate3d(0, 5vh, 0);
  }

  15% {
    transform: translate3d(5vw, 25vh, 0);
  }

  25% {
    transform: translate3d(35vw, 45vh, 0);
  }

  35% {
    transform: translate3d(80vw, 75vh, 0);
    width: 150px;
  }

  50% {
    transform: translate3d(40vw, 60vh, 0);
    width: 200px;
  }

  65% {
    transform: translate3d(20vw, 35vh, 0);
  }

  85% {
    transform: translate3d(10vw, 25%, 0);
    width: 100px;
  }

  100% {
    transform: translate3d(0, 5vh, 0);
  }
}

@keyframes move3 {
  0% {
    transform: translate3d(67vw, 55vh, 0);
  }

  15% {
    transform: translate3d(38vw, 48vh, 0);
    width: 150px;
  }

  25% {
    transform: translate3d(59vw, 35vh, 0);
    width: 200px;
  }

  35% {
    transform: translate3d(73vw, 80vh, 0);
    width: 100px;
  }

  50% {
    transform: translate3d(84vw, 88vh, 0);
  }

  65% {
    transform: translate3d(34vw, 58vh, 0);
  }

  85% {
    transform: translate3d(79vw, 63vh, 0);
  }

  100% {
    transform: translate3d(77vw, 95vh, 0);
  }
}